/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13pt;
  color: #fff;
  background: #222129;
}

a {
    color: #00AE95;
}

a:hover {
    color: #00AE95;
    text-decoration: underline;
}

p{
  background: rgba(255,255,255, .05);
  padding: 16px;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 1em;
}

header {
  text-align: center;
  background: #00AE95;
  padding: 16px;
  margin-bottom: 16px;
}

h2 {
  margin: 16px 0;
}

header h1 a {
  color: #fff;
}

header h1 a:hover {
  color: #fff;
}

footer {
  text-align: center;
  color: #fff;
  font-size: .8em;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  background: rgba(255,255,255, .05);
  padding: 8px;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}


